body
{
color:#337AB7;
font-family:calibri;
}
.panel-heading
{
font-size:20px;
color:white;
text-align:center;
}
.panel-footer
{
font-size:20px;
color:white;
text-align:center;
background:#337AB7;
}
.label-control
{
font-size:20px;
}
.btn
{
background:#337AB7;
width:120px;
font-size:16px;
}