body
{
background:#E9ECEF;
}
h3
{
font-family:calibri;
font-size:30px;
font-weight:700;
color:#17A2B8;
}
label
{
font-family:calibri;
font-size:20px;
font-weight:700;
color:#17A2B8;	
}
input
{
font-family:calibri;
font-size:30px;
font-weight:700;
color:#17A2B8;
}
